---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <main>
    <h1>A Stranger There</h1>
    <p>Photo, video, art, words, products, music, memo and more.</p>
  </main>
</MainLayout>
</MainLayout>