---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | A Stranger There</title>
  </head>

  <body>
    <slot />
  </body>

  <style is:global>
    :root {
      --page-margin: 2rem;
      --circle-size: 20px;
      --foreground: white;
      --background: black;
      --font-main: "Courier New", monospace;
    }

    @media (max-width: 768px) {
      :root {
        --page-margin: 1rem;
        --circle-size: 18px;
      }
    }
  </style>
</html>